  <!-- header area start -->
  <header>
     <div class="header-top sticky bg-white d-none d-lg-block">
         <div class="container">
             <div class="row align-items-center">
                 <div class="col-md-5">
                     <div class="header-top-navigation">
                         <nav>
                             <ul>
                                 <li [routerLinkActive]="['active']"><a [routerLink]="['/home']" >home</a></li>
                                 <li [routerLinkActive]="['active']"><a [routerLink]="['/posts']">posts</a></li>
                             </ul>
                         </nav>
                     </div>
                     <!-- header top navigation start -->
                 </div>

                 <div class="col-md-2">
                     <!-- brand logo start -->
                     <div class="brand-logo text-center">
                         <a href="index.html">
                             <img src="assets/images/logo/logo.png" alt="brand logo">
                         </a>
                     </div>
                     <!-- brand logo end -->
                 </div>

                 <div class="col-md-5">
                     <div class="header-top-right d-flex align-items-center justify-content-end">
                         <!-- header top search start -->
                         <div class="header-top-search">
                             <form class="top-search-box">
                                 <input type="text" placeholder="Search" class="top-search-field">
                                 <button class="top-search-btn"><i class="flaticon-search"></i></button>
                             </form>
                         </div>
                         <!-- header top search end -->

                         <!-- profile picture start -->
                         <app-auth-header></app-auth-header>
                         <!-- profile picture end -->
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </header>
 <!-- header area end -->
 <!-- header area start -->
<app-auth-mobile-header></app-auth-mobile-header>
 <!-- header area end -->