<ng-container>
     <app-post-create (postCreated)="addNewPost($event)"></app-post-create>
</ng-container>
<ng-container *ngIf="(dataState$ | async) as dataState" [ngSwitch]="dataState">     
     <ng-container *ngSwitchCase="DataState.LOADING">
          <app-spinner></app-spinner>
     </ng-container>
     <ng-container *ngSwitchCase="DataState.LOADED">
          <app-post-list-item *ngFor="let post of posts" [post]="post" scrollEnd (nearEnd)="loadNext()">             
          </app-post-list-item>
          
          <ng-container *ngIf="scrollLoading$ | async">
               <app-spinner></app-spinner>
          </ng-container>
     </ng-container>
</ng-container>