<div class="card mb-3 mt-3">
     <div class="post-title d-flex align-items-center">
         <div class="profile-thumb">
             <a href="#">
                 <figure class="profile-thumb-middle">
                     <img [src]="post.user.avatar?.reference ?? 
                     'assets/images/profile/profile-small-1.jpg'" alt="profile picture">
                 </figure>
             </a>
         </div>
         <div class="posted-author">
             <h6 class="author"><a [routerLink]="['/profile', post.user.id]">{{post.user.firstName + ' ' + post.user.lastName}}</a></h6>
             <span class="post-time">20 min ago</span>
         </div>

         <div class="post-settings-bar">
             <span></span>
             <span></span>
             <span></span>
             <div class="post-settings arrow-shape">
                 <ul>
                     <li><button>copy link to adda</button></li>
                     <li><button>edit post</button></li>
                     <li><button>embed adda</button></li>
                 </ul>
             </div>
         </div>
     </div>

     <div class="post-content">
         <p class="post-desc">
             {{post.caption}}
         </p>
         <ng-container *ngIf="post.media">
          <div class="post-thumb-gallery">
               <figure class="post-thumb img-popup">
                   <a href="assets/images/post/post-large-1.jpg">
                       <img [src]="post.media.reference" width="510" height="270" alt="post image">
                   </a>
               </figure>
           </div>
         </ng-container>
      
         <div class="post-meta">
             <button class="post-meta-like">
                 <i class="bi bi-heart-beat"></i>
                 <span>You and 201 people like this</span>
                 <strong>201</strong>
             </button>
             <ul class="comment-share-meta">
                 <li>
                     <button class="post-comment" (click)="toggleCommentSection()">
                         <i class="bi bi-chat-bubble"></i>
                         <span>41</span>
                     </button>
                 </li>
                 <li>
                     <button class="post-share">
                         <i class="bi bi-share"></i>
                         <span>07</span>
                     </button>
                 </li>
             </ul>
         </div>
         <ng-container *ngIf="showComemntSection">
            <app-comment-list [postId]="post.id"></app-comment-list>
         </ng-container>
     </div>
 </div>